.mat-card-simples {
  max-width: 300px;
  background-color: aliceblue;
  margin-top: 10px;
}
.insercao-usuarios {
  margin: 20px;
  background-color: #d6ffd5;
}
.botao-inserir {
  background-color: #5b9b5a;
}
.mat-form-field {
  margin: 5px;
}
